body{
 width: 900px; 
 margin: 0 auto;
 color: #2e2600;
}
img {
  width: 250px;
  height: 250px;
}
.resume-container{
  display: grid;
  grid-template: repeat(5, auto) / 1fr 2fr;
  background-color: #FFFFCC;

}
section{
  padding-left: 15px;
}

h1,
h3{
  margin: 0;
}
h1{
  font-size: 35px;
}
h3{
  font-size: 20px;
}
h4{
  font-style: italic;
  font-size: 20px;
  margin: 5px 0;
}
p{
  font-size: 18px;
}

.photo,
.name{
  background-color: #99CC33;
  border-bottom: 2px solid black;
}
.photo{
  border-right: 2px solid black;
  padding: 10px 25px;
}
.name{
  padding-top: 200px;
  padding-left: 10px;
  color: #333333;
}
.contacts{
  grid-row: 2 / 8;
  border-right: 2px solid black;
}
.summary,
.skills,
.code-example,
.experience,
.education,
.english-level{
  border-bottom: 1px solid black;
}